---
import herobanner1 from "../../assets/herobanner1.png";
import herobanner2 from "../../assets/herobanner2.png";
import herobanner3 from "../../assets/herobanner3.png";

---

<div class="hero-banner herobannerdiv2" id="herobannerdiv">
    <div>
        <h1>SNAP LEARNING</h1>
        <h3>We are your go-to Agile experts with masters degrees and decades of industry experience, providing you with our industry leading 360° Assessment, coaching and training.</h3>
        <a href="/contact-us">Collaborate With Us</a>
    </div>
    <!-- <svg id="hero-bg-svg" xmlns="http://www.w3.org/2000/svg" width="499" height="247" viewBox="0 0 499 247" fill="none">
        <path opacity="0.3" d="M220.942 95.8823C249.786 89.8704 279.714 91.7797 307.532 101.406C335.35 111.033 360.012 128.015 378.885 150.539L340.993 176.342L474.028 200.809L498.6 68.9811L455.397 98.3783C420.237 53.2014 370.745 21.2521 314.992 7.73921C259.239 -5.77368 200.512 -0.0530709 148.386 23.9684C96.2607 47.9898 53.8107 88.8952 27.957 140.016C2.10342 191.136 -5.62882 249.456 6.02093 305.467L96.1444 286.299C87.4351 244.589 95.6836 201.115 119.08 165.417C142.477 129.718 179.11 104.711 220.942 95.8823Z" fill="#C4FEC7"/>
    </svg> -->
</div>

<script>
    let num = 0;
    setInterval(() => {
        let val = `herobannerdiv${(num % 3)}`;
        let dom = document.getElementById("herobannerdiv");
        dom.className = "hero-banner";
        dom.classList.add(val);

        //console.log(`herobannerdiv${(num % 3)}`);
        num++;
    }, 3000);
</script>