---
import partner1 from '../../assets/safe.png';
import partner2 from '../../assets/scrumalliance.png';
import partner3 from '../../assets/scrumorg.png';

const partners = [
  { name: "Safe", logo: partner1, url: "https://framework.scaledagile.com/" },
  { name: "Scrum Alliance", logo: partner2, url: "https://www.scrumalliance.org/" },
  { name: "Scrum.org", logo: partner3, url: "https://scrum.org" }
];
---

<div class="our-services-banner">
  <h2>OUR PARTNERS</h2>
  <div>
    {partners.map((partner) => (
      <div class="our-services-column">
        <a href={partner.url}>
          <img src={partner.logo.src} alt={partner.name} height="100" />
          {/* <h3>{partner.name}</h3> */}
        </a>
      </div>
    ))}
  </div>
</div>