<div class="what-we-do-banner">
    <h1>WHAT WE DO</h1>
    <p>Apex can help you succeed in three ways...</p>
    <div>
        <div class="what-we-do-element">
            <h1>1</h1>
            <p style="width: 184px;">Training & Certification: our 1-2 day training courses are specifically designed to prepare you for the Agile certification exams from SAFe, Scrum.org, and Scrum Alliance. You can train with confidence due to our Apex guarantee: if you do not succeed in passing the certification, you may re-enroll in the training at no additional cost.</p>
        </div>
        <div class="what-we-do-element">
            <h1>2</h1>
            <p style="width: 145px";>Coaching: Apex offers customized coaching from our expert staff. We can coach your team, your executives, and your organization. Please contact us for more details.</p>
        </div>
        <div class="what-we-do-element">
            <h1>3</h1>
            <p>Assessment: Apex uniquely offers a suite of detailed assessments to determine your specific organization’s capabilities and needs. See our different assessment offerings here (click link to Assessment page) for more details.</p>
        </div>
    </div>
</div>