---
import "../styles/global.css"
import NavBar from "../components/topNavigation/NavBar.astro"
import MobileNavBar from "../components/topNavigation/MobileNavBar.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<title>Astro Basics</title>
	</head>
	<body>
		<NavBar currentPage={Astro.props.currentPage} />
		<MobileNavBar />
		<div class="page-container">
			<slot />
		</div>
	</body>
</html>