---
import AssessmentBannerBackground from "../../assets/assessment-banner.png";
import AssessmentTable from "./AssessmentTable.astro";

---

<div class="assessment-container">
    <div class="assessment-top-banner" style="">
        <div>
            <h1>MATURITY ASSESSMENT</h1>
            <a href="">Schedule an Assessment</a>
        </div>
    </div>
    <div class="assessment-body-container-why-assessment">
        <h3>WHY ASSESSMENT?</h3>
        <p>Today, more and more companies are adopting iterative software design methodologies like Agile. Whether you are just starting on this journey or if you already have adopted many agile techniques, it’s vitally important to first understand where you are so you know what you need to do. As we have done for so many other companies, Apex can be your partner in assessing your current capability, to help remediate those areas needing correction, and to create a plan for upgrading skills on your Agile journey.
            <br />
            <br />
            While you may find a number of skill surveys online, Apex offers six comprehensive Agile skill assessments to pinpoint your current capabilities. We drew upon our extensive background in software development to create, from scratch, assessments that reflect actual business environments. Following your assessment, Apex will work with you to provide both individualized and customized coaching; Apex complements our customized training with a number of certification-oriented training programs.
            <br />
            <br />
            The Apex assessments contain both prescriptive and proscriptive components. We can recognize those patterns and behaviors in your organization that have you on the right track to improving your agility. As experts in agile software development with decades of industry experience in business like yours, we can identify those behaviors that you will want to build upon. Equally important, our experience as developers and leaders within the software industry will allow us to recognize other patterns and behaviors that are detracting from your business and development agility.</p>
    </div>
    <div class="assessment-body-container-assessment-types">
        <h3>OUR ASSESSMENT TYPES</h3>
        <!-- <AssessmentTable /> -->
    </div>
</div>